<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".core.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.YourApp"
        tools:targetApi="31">
        <activity
            android:name=".presentation.features.main.store.detail.StoreDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.news.detail.NewsDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.payment.ui.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.voucher.ownership.VoucherActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.payment.transaction.ui.ConfirmTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.qrcode.QRScannerActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.wallets.ui.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.payment.topup.ui.TopUpActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.payment.amountInput.ui.AmountInputActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.changepassword.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.account.personalInfo.PersonalInfoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.membership.policy.MembershipPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.features.login.ui.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.features.voucher.redeem.VoucherRedeemActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.features.register.ui.phone.RegisterPhoneActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.features.register.ui.otp.OTPActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.features.forgotPassword.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.features.register.ui.info.RegisterAccountActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.features.main.ContrastActivity"
            android:exported="true" />
        <activity
            android:name=".presentation.features.splas.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.YourApp"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>